.why-choose-us {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 60px; */
  gap: 40px;
}

.row.reverse {
  flex-direction: row-reverse;
}

.text-column {
  flex: 1;
}


.image-column {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 450px;
}
.image-columnpay {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 450px;
}
.image-columnby {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 430px;
}

.image-column img {
  max-width: 89%;
  height: auto;
}
.image-column2 {
  flex: 1;
  display: flex;
  justify-content: left;
}

.image-column2 img {
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.text-block {
  margin-bottom: 30px;
}

.text-block h3 {
  color: #004aad;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.text-block p {
  color: #333;
  line-height: 1.5;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    text-align: center;
    gap: 0px;
  }

  .row.reverse {
    flex-direction: column;
     gap: 0px;
  }

  .image-column {
    margin-top: 20px;
  }
  .image-columnpay {
    margin-top: 20px;
  }
  .image-column2 {
    margin-top: 20px;
  }
  .image-columnby {
    margin-top: 20px;
    max-width: 70%;
  }

  .text-block {
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .why-choose-us {
    padding: 40px 15px;
  }
  .text-block h3 {
    font-size: 1.1rem;
  }
  .text-block p {
    font-size: 0.95rem;
  }
  .row {
     gap: 0px;
  }
    .image-columnby img {
    max-width: 140%;
  }
}

/* ========================= */
/* Small tablets & landscape phones (max-width 900px) */
@media (max-width: 900px) {
  .row {
    flex-direction: column;
    text-align: center;
     gap: 0px;
  }
  .row.reverse {
    flex-direction: column;
     gap: 0px;
  }
  .image-column {
    margin-top: 20px;
  }
  .image-columnpay {
    margin-top: 20px;
  }
  .image-columnby {
    margin-top: 20px;
  }
  .text-column {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .text-block h3 {
    font-size: 0.95rem;
    margin-top: 20px;
  }
  .text-block p {
    font-size: 0.85rem;
  }
  .image-column img {
    max-width: 100%;
    margin-top: -75px;
    margin-bottom: -75px;
  }
  .image-columnpay img {
    max-width: 100%;
    margin-top: -20px;
    /* margin-bottom: -75px; */
  }
  .image-column2 img {
    max-width: 100%;
    margin-top: -15px;
  }
  .image-columnby img {
    max-width: 140%;
    margin-top: -15px;
  }
    .row {
    flex-direction: column;
    text-align: center;
     gap: 0px;
  }
  .row.reverse {
    flex-direction: column;
     gap: 0px;
  }
}
@media (max-width: 600px) {
  
  .image-columnby img {
    max-width: 120%;
  }
}
@media (max-width: 750px) {
  
  .image-columnby img {
    max-width: 130%;
  }
    .image-columnpay img {
    max-width: 100%;
    /* margin-top: -20px; */
    /* margin-bottom: -75px; */
  }
}
